@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* css import */
@import url("css/ferid.css");
@import url("css/sara.css");
@import url("css/osman.css");
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    box-sizing: border-box;
    width: 100%;
    height: 6575px;
}

/* Herkes öz yaratdığı sectionu responsive olaraq css-ni burda qeyd edəcək.
container sabit qalacaq çünki standart oalraq tablet,smartfonun figmada verildiyi ölçülərdir. */
@media only screen and (min-width:991px) and (max-width:1279px) {
    .container {
        /* width:834px; */
        width: 100%;
        height: 3800px;
    }
  }
@media only screen and (min-width:320px) and (max-width:991px) {
    .container {
        width: 100%;
        height: 4524px;
    }
   
  
}

